* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0
}

.intro-chunk {
  max-width: 800px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 30%)
}
.intro-chunk p {
  max-width: 320px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0px;
}

.card {
  background-color: white;
  max-width: 800px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border-bottom: 8px solid hsl(0deg, 0%, 30%)
}

strong {
  color: hsl(160deg, 100%, 30%)
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  margin-left: -24px;
  padding: 8px 24px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}


/* Add styles here! 
Primary (green):

hsl(160deg, 100%, 30%)
Secondary (gold):

hsl(45deg, 100%, 50%) (lighter)
hsl(45deg, 100%, 40%) (darker)
Grays:

hsl(0deg, 0%, 0%) (black)
hsl(0deg, 0%, 10%) (very dark)
hsl(0deg, 0%, 30%) (dark)
hsl(0deg, 0%, 40%) (medium)
hsl(0deg, 0%, 60%) (light)
hsl(0deg, 0%, 100%) (white)
*/